version: 2.1
orbs:
  node: circleci/node@1.1.6
  gcr: circleci/gcp-gcr@0.6.1
  gcp-gke: circleci/gcp-gke@0.2.0
jobs:
  checkout-and-test:
    machine: true
    steps:
      - checkout
      - node/install
      - node/install-yarn
      - node/with-cache:
          steps:
            - run: 
                name: install dependencies
                command: yarn install
            - run: 
                name: run all unit tests
                command: yarn test
            - run:
                name: build from typescript source
                command: yarn build

  build-docker:
    description: Builds source and creates docker image + push to GCR
    machine: true
    steps:
      - checkout
      - gcr/gcr-auth
      - gcr/build-image:
          image: ${DOCKER_IMAGE}
          tag: ${DOCKER_TAG}

      - gcr/push-image:
          image: ${DOCKER_IMAGE}
          tag: ${DOCKER_TAG}

  deploy-docker:
    description: Deploys image from GCR to GKE
    machine: true
    steps:
      - gcp-gke/install
      - gcp-gke/init
      - gcp-gke/rollout-image:
          deployment: ${GOOGLE_DEPLOYMENT_ID}
          container: ${DOCKER_CONTAINER}
          image: gcr.io/${GOOGLE_PROJECT_ID}/${DOCKER_IMAGE}:${DOCKER_TAG}
          cluster: ${GOOGLE_CLUSTER_ID}

workflows:
  test-build-deploy:
    jobs:
      - checkout-and-test
      - build-docker:
          requires:
            - checkout-and-test
      - deploy-docker:
          requires:
            - build-docker
